<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.EditorFeatures.Text" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net46" />
  <package id="VSSDK.CoreUtility" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.CoreUtility.14" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net46" />
  <package id="VSSDK.GraphModel" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net46" />
  <package id="VSSDK.IDE.10" version="10.0.4" targetFramework="net46" />
  <package id="VSSDK.IDE.11" version="11.0.4" targetFramework="net46" />
  <package id="VSSDK.IDE.12" version="12.0.4" targetFramework="net46" />
  <package id="VSSDK.IDE.14" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.IDE.8" version="8.0.4" targetFramework="net46" />
  <package id="VSSDK.IDE.9" version="9.0.4" targetFramework="net46" />
  <package id="VSSDK.Language" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.Language.14" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.OLE.Interop" version="7.0.4" targetFramework="net46" />
  <package id="VSSDK.Shell.14" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.Shell.Immutable.10" version="10.0.4" targetFramework="net46" />
  <package id="VSSDK.Shell.Immutable.11" version="11.0.4" targetFramework="net46" />
  <package id="VSSDK.Shell.Immutable.12" version="12.0.4" targetFramework="net46" />
  <package id="VSSDK.Shell.Immutable.14" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.Shell.Interop" version="7.0.4" targetFramework="net46" />
  <package id="VSSDK.Shell.Interop.8" version="8.0.4" targetFramework="net46" />
  <package id="VSSDK.Shell.Interop.9" version="9.0.4" targetFramework="net46" />
  <package id="VSSDK.Text" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.Text.14" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.TextManager.Interop" version="7.0.4" targetFramework="net46" />
  <package id="VSSDK.TextManager.Interop.10" version="10.0.4" targetFramework="net46" />
  <package id="VSSDK.TextManager.Interop.8" version="8.0.4" targetFramework="net46" />
  <package id="VSSDK.TextManager.Interop.9" version="9.0.4" targetFramework="net46" />
  <package id="VSSDK.Threading" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.Threading.14" version="14.0.4-preview" targetFramework="net46" />
  <package id="VSSDK.VSLangProj" version="7.0.4" targetFramework="net46" />
</packages>