<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="VS14DEVENV" Secure="yes">
      <RegistrySearch
        Id="VS14DevEnvSearch"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS"
        Name="EnvironmentPath"
        Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS14EXPRESSDEVENV" Secure="yes">
      <RegistrySearch
        Id="VS10ExpressDevEnvSearch"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\VCSExpress\14.0\Setup\VS"
        Name="ProductDir"
        Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS2015DEVENV" Secure="yes">
      <RegistrySearch Id="VS2015DevEnvSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
  </Fragment>
  
  <Fragment>
    <CustomAction Id="VS2015Setup" Property="VS2015DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS2015DEVENV" />
    
    <InstallExecuteSequence>
      <Custom Action="VS2015Setup" Before="InstallFinalize" Overridable="yes">VS2015DEVENV</Custom>
    </InstallExecuteSequence>
  </Fragment>

<!--
  <Fragment>
    <CustomAction Id="VS10Setup" Property="VS10DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS10DEVENV" />
    <InstallExecuteSequence>
      <Custom Action="VS10Setup" Before="InstallFinalize" Overridable="yes">VS10DEVENV</Custom>
    </InstallExecuteSequence>
  </Fragment>
-->
  <Fragment>
    <Property Id="VS14_ITEMTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS14DevEnvForItemTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Type="raw">
        <DirectorySearch Id="VS14ItemTemplatesPathSearch" Path="ItemTemplates" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS14_PROJECTTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS14DevEnvForProjectTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Type="raw">
        <DirectorySearch Id="VS14ProjectTemplatesPathSearch" Path="ProjectTemplates" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS14_SCHEMAS_DIR" Secure="yes">
      <RegistrySearch Id="VS14ProductPathSearch" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="14.0" Type="raw">
        <DirectorySearch Id="VS14XmlPathSearch" Path="Xml" Depth="1">
          <DirectorySearch Id="VS14XmlSchemasPathSearch" Path="Schemas" Depth="1" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>
  </Fragment>

  <!-- Indicates whether the Visual C# project system is installed as a part of  -->
  <!-- Visual Studio 2008 standard or higher. If this property is set, that      -->
  <!-- means Visual Studio 2008 standard or higher is installed and the Visual   -->
  <!-- C# language tools were installed as a part of VS 2008 setup.              -->
  <Fragment>
    <Property Id="VS14_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" Secure="yes">
      <RegistrySearch Id="SearchForVCS11ProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Projects\{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}" Name="DefaultProjectExtension" Type="raw" />
    </Property>
  </Fragment>
  
  <!-- Indicates whether the Visual Studio Team Test project system is installed -->
  <Fragment>
    <Property Id="VS14_IDE_VSTS_TESTSYSTEM_INSTALLED" Secure="yes">
      <RegistrySearch Id="SearchForVSTS11TestSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Projects\{3AC096D0-A1C2-E14C-1390-A8335801FDAB}" Name="Package" Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <CustomAction Id="VS14InstallVSTemplates" Property="VS14DEVENV" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS14DEVENV" />
    <InstallExecuteSequence>
      <Custom Action="VS14InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VS14DEVENV</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Location of the Visual Studio 2015 root installation directory. -->
  <Fragment>
    <Property Id="VS14_ROOT_FOLDER_EXISTS" Secure="yes">
      <RegistrySearch Id="SearchForVS14RootPath" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="14.0" Type="raw" />
    </Property>
    <CustomAction Id="SetVS14_ROOT_FOLDER" Directory="VS14_ROOT_FOLDER" Value="[VS14_ROOT_FOLDER_EXISTS]" />
    <InstallExecuteSequence>
      <Custom Action="SetVS14_ROOT_FOLDER" Before="InstallFiles" Overridable="yes">VS14_ROOT_FOLDER_EXISTS</Custom>
    </InstallExecuteSequence>
  </Fragment>

</Wix>
