<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net40" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net40" />
  <package id="VSSDK.OLE.Interop" version="7.0.4" targetFramework="net40" />
  <package id="VSSDK.Shell.Interop" version="7.0.4" targetFramework="net40" />
  <package id="VSSDK.TextManager.Interop" version="7.0.4" targetFramework="net40" />
</packages>